@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
  text-align: center;
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
}

.header {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Bitter', serif;
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 60px;
}

.mode-description {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 48px;
  max-width: 400px;
}

.mode-button {
  background-color: #ffffff00;

  color: rgb(0, 0, 0);

  font-size: 24px;
  font-weight: 600;

  padding: 12px 26px;

  border-radius: 10px;
  border: 2px solid #828384;

  cursor: pointer;
}

.mode-button:hover {
  background-color: #f5f5f5;
}

.game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  background-color: #ffffff00;

  color: rgb(0, 0, 0);

  font-size: 16px;
  font-weight: 600;

  padding: 12px 16px;

  border-radius: 10px;
  border: 2px solid #828384;

  cursor: pointer;
}

.game-button:hover {
  background-color: #f5f5f5;
}