@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
  text-align: center;
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
}

.header {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Bitter', serif;
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 60px;
}

.mode-description {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 48px;
  max-width: 400px;
}

.mode-button {
  background-color: #ffffff00;

  color: rgb(0, 0, 0);

  font-size: 24px;
  font-weight: 600;

  padding: 12px 26px;

  border-radius: 10px;
  border: 2px solid #828384;

  cursor: pointer;
}

.mode-button:hover {
  background-color: #f5f5f5;
}

.game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  background-color: #ffffff00;

  color: rgb(0, 0, 0);

  font-size: 16px;
  font-weight: 600;

  padding: 12px 16px;

  border-radius: 10px;
  border: 2px solid #828384;

  cursor: pointer;
}

.game-button:hover {
  background-color: #f5f5f5;
}

.tile_empty {
  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0);
  border: 2px solid #828384;

  width: 32px;
  height: 32px;

  font-family: 'Libre Franklin', sans-serif;
  font-size: 32px;
  font-weight: 700;

  padding: 10px 10px
}

.tile_green {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #6ca965;
  color: rgb(255, 255, 255);
  border: 2px solid #6ca965;

  width: 32px;
  height: 32px;

  font-family: 'Libre Franklin', sans-serif;
  font-size: 32px;
  font-weight: 700;

  padding: 10px 10px
}

.tile_yellow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #c8b653;
  color: rgb(255, 255, 255);
  border: 2px solid #c8b653;

  width: 32px;
  height: 32px;

  font-family: 'Libre Franklin', sans-serif;
  font-size: 32px;
  font-weight: 700;

  padding: 10px 10px
}

.tile_gray {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #787c7f;
  color: rgb(255, 255, 255);
  border: 2px solid #787c7f;

  width: 32px;
  height: 32px;

  font-family: 'Libre Franklin', sans-serif;
  font-size: 32px;
  font-weight: 700;

  padding: 10px 10px
}

.word-row {
  display: flex;
  gap: 6px;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 100px;
}